* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main .section_one_main .content_one {
    width: 100%;
}
.main .section_one_main .section_one_main--left {
    padding: 31px;
    width: 100%;
}

.main .section_one_main .section_one_main--right {
    width: 80%;
}

.main .section_one_main .section_one_main--right img {
    width: 100%;
    height: 100%;
}

.main .section_one_main .section_two_main--left img {
    width: 100%;
    height: 100%;
}

.main .section_one_main .section_one_main--left .section_title {
    color: #161616;
    font-family: Manrope;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.main .section_one_main .section_one_main--left h4 {
    color: #161616;
    font-family: Manrope;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.main .section_one_main .section_one_main--left p {
    color: #161616;
    font-family: Didact Gothic;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}

.main .section_one_main .section_two_main--right {
    width: 71%;
    padding: 44px;
}

.main .section_one_main .section_two_main--left {
    width: 100%;
}
.main .section_one_main .section_two_main--right .section_subtitle {
    color: #161616;
    font-family: Manrope;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.main .section_one_main .section_two_main--right p {
    color: #161616;
    font-family: Didact Gothic;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}

.main .section_two_main .content_two .section_about {
    text-align: left;
    color: #161616;
    font-family: Didact Gothic;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}

.main .section_two_main .content_two .section_about h3 {
    color: #161616;
    font-family: Manrope;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.main .section_two_main .content_two .section_about p {
    font-family: "Didact Gothic", sans-serif;
    font-size: 0.8em;
}

.main .section_two_main .content_two {
    margin-top: 7%;
    justify-content: space-between;
}

.about_us {
    justify-content: center;
    align-items: center;
}
