@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Manrope&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

.main .section_one_main .banner h1 {
    color: #161616;

    text-align: center;
    font-family: Didact Gothic;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 4%;
    text-align: center;
}
.main .section_one_main .banner {
    margin-bottom: 7%;
}

.main .section_one_main .banner .backgroun-img {
    background-color: #f5f5f5;
}

.main .section_one_main .banner .backgroun-img .over_img {
    color: #161616;
    text-align: right;
    font-family: Manrope;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.65px;
    text-transform: uppercase;
}

.main .section_two .footer {
    background-color: #161616;
    color: #fff;
    padding: 80px;
}

.main .section_two_main .section_two_main--top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}

.main .section_two_main .section_two_main--top h2 {
    color: #161616;

    font-family: Manrope;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: 62px; /* 112.727% */
    text-transform: uppercase;
    margin-bottom: 5%;
}
.main .section_two_main .section_two_text {
    margin-top: 5%;
    margin-left: 5%;
}

.main .section_two_main .section_two_text .section_two_text--one-p {
    color: #919191;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}
.main .section_two_main .section_two_text .section_two_text--two-p {
    color: #161616;
    font-family: Manrope;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.main .section_two_main .section_two_text .section_two_text--three-p {
    color: #161616;
    text-align: justify;
    font-family: Didact Gothic;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.main .section_two_main .section_two_text a {
    color: #161616;
    font-family: Didact Gothic;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.55px;
    text-transform: uppercase;
    text-decoration: none;
}
.main .section_three_main {
    margin-bottom: 7%;
}

.main .section_three_main .content {
    width: 100%;
}
.main .section_three_main .content img {
    width: 100%;
    height: 100%;
}

.main .section_three_main .section_content_three--text {
    padding: 4%;
    background-color: #f5f5f5;
}
.main .section_three_main .section_content_three--text .section_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .section_three_main .section_content_three--text .section_logo h4 {
    color: #161616;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    padding-left: 10px;
}

.main .section_three_main .section_content_three--text .section_logo {
    margin-top: 15px;
    margin-bottom: 15px;
}
.main .section_three_main .section_content_three--text .section_logo h3 {
    color: #161616;
    font-family: Manrope;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.main .section_three_main .section_content_three--text p {
    color: #161616;
    font-family: Didact Gothic;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}

.main .section_three_main .section_content_three--text h3 {
    color: #161616;
    font-family: Manrope;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.main .section_four_main {
    margin: 5%;
}

.main .section_four_main .center {
    justify-content: center;
    align-items: center;
}

.main .section_four_main .section_four_content p {
    color: #161616;
    font-family: Manrope;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.main .section_four_main .section_four_content a {
    font-family: "Didact Gothic", sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: #161616;
}

.main .section_five_content .section_five_content--top {
    margin-bottom: 5%;
}

.main .section_five_content .section_five_content--buttom {
    margin: 7%;
}

.main .section_five_content .section_five_content--top h1 {
    color: #161616;
    text-align: center;
    font-family: Manrope;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: 62px; /* 112.727% */
    text-transform: uppercase;
}
.main .section_five_content .section_five_content--top p {
    color: #161616;
    text-align: center;
    font-family: Didact Gothic;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.main .section_five_content .section_five_content--text {
    background-color: #f5f5f5;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    font-family: "Didact Gothic", sans-serif;
}
.main .section_five_content .section_five_content--text h3 {
    color: #161616;
    font-family: Didact Gothic;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}

.main .section_five_content .section_five_content--text .type {
    color: #919191;
    font-family: Didact Gothic;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}
.main .section_five_content .section_five_content--text .comment {
    color: #161616;
    font-family: Didact Gothic;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}

.main .section_five_content .section_five_content--text {
    font-size: 1.2em;
}
.main .section_five_content .section_five_content--text .type {
    color: #919191;
    font-size: 0.9em;
}

/* img {
    width: 100%;
} */

.footer {
    background-color: #161616;
    color: #fff;
    padding: 80px;
}

.footer .main_content {
    margin: auto;
}

.footer .main_content .content_one p {
    color: #fff;
    font-family: Manrope;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: 62px; /* 112.727% */
    text-transform: uppercase;
}
.footer .main_content .content_one {
    padding-bottom: 20px;
}

.flex {
    display: flex;
}

.between {
    justify-content: space-between;
}

.footer .main_content .content_one h1 {
    font-family: "Manrope", sans-serif;
    font-size: 3em;
}

.footer .main_content .content_two p {
    color: #fff;
    text-align: justify;
    font-family: Didact Gothic;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.footer .main_content .content_two {
    margin-bottom: 25px;
}

.footer .main_content .content_three .nav-links {
    list-style: none;
}
.footer .main_content .content_three .nav-links li {
    color: #fff;
    font-family: Didact Gothic;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 105.882% */
    text-transform: uppercase;
    display: inline-block;
    padding: 10px;
}
.section_two_main--body {
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.banner {
    margin: 5%;
}

.img {
    width: 100%;
}

.section_four_content {
    padding: 20px;
}
