@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Manrope&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

.main .section_one_main .banner h1 {
    color: #161616;

    text-align: center;
    font-family: Didact Gothic;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 4%;
    text-align: center;
}
.main .section_one_main .banner {
    margin-bottom: 7%;
}

.main .section_one_main .banner .backgroun-img {
    background-color: #f5f5f5;
}

.main .section_one_main .banner .backgroun-img .over_img {
    color: #161616;
    text-align: right;
    font-family: Manrope;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.65px;
    text-transform: uppercase;
}

.main .section_two .footer {
    background-color: #161616;
    color: #fff;
    padding: 80px;
}

.main .section_two_main .section_two_main--top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
    margin-left: 6%;
    margin-right: 6%;
}

.main .section_two_main .section_two_main--top h2 {
    color: #161616;

    font-family: Manrope;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: 62px; /* 112.727% */
    text-transform: uppercase;
    margin-bottom: 5%;
}
.main .section_two_main .section_two_text {
    margin-top: 5%;
    margin-left: 5%;
}

.main .section_two_main .section_two_text .section_two_text--one-p {
    color: #919191;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}
.main .section_two_main .section_two_text .section_two_text--two-p {
    color: #161616;
    font-family: Manrope;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.main .section_two_main .section_two_text .section_two_text--three-p {
    color: #161616;
    text-align: justify;
    font-family: Didact Gothic;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.main .section_two_main .section_two_text a {
    color: #161616;
    font-family: Didact Gothic;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.55px;
    text-transform: uppercase;
    text-decoration: none;
}
.main .section_three_main {
    margin-bottom: 7%;
}

.main .section_three_main .content {
    width: 100%;
}
.main .section_three_main .content img {
    /* width: 100%;
    height: 100%; */
}

.main .section_three_main .section_content_three--text {
    padding: 4%;
    background-color: #f5f5f5;
}
.main .section_three_main .section_content_three--text .section_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .section_three_main .section_content_three--text .section_logo h4 {
    color: #161616;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    padding-left: 10px;
}

.main .section_three_main .section_content_three--text .section_logo {
    margin-top: 15px;
    margin-bottom: 15px;
}
.main .section_three_main .section_content_three--text .section_logo h3 {
    color: #161616;
    font-family: Manrope;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.main .section_three_main .section_content_three--text p {
    color: #161616;
    font-family: Didact Gothic;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}

.main .section_three_main .section_content_three--text h3 {
    color: #161616;
    font-family: Manrope;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.main .section_four_main {
    margin: 5%;
}

.main .section_four_main .center {
    justify-content: center;
    align-items: center;
}

.main .section_four_main .section_four_content p {
    color: #161616;
    font-family: Manrope;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.main .section_four_main .section_four_content img {
    display: block;
    width: 100%;
    height: auto;
}
.main .section_four_main .section_four_content a {
    font-family: "Didact Gothic", sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: #161616;
}

.main .section_five_content .section_five_content--top {
    margin-bottom: 5%;
}

.main .section_five_content .section_five_content--buttom {
    margin: 7%;
}

.main .section_five_content .section_five_content--top h1 {
    color: #161616;
    text-align: center;
    font-family: Manrope;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: 62px; /* 112.727% */
    text-transform: uppercase;
}
.main .section_five_content .section_five_content--top p {
    color: #161616;
    text-align: center;
    font-family: Didact Gothic;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.main .section_five_content .section_five_content--text {
    background-color: #f5f5f5;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    font-family: "Didact Gothic", sans-serif;
}
.main .section_five_content .section_five_content--text h3 {
    color: #161616;
    font-family: Didact Gothic;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}

.main .section_five_content .section_five_content--text .type {
    color: #919191;
    font-family: Didact Gothic;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}
.main .section_five_content .section_five_content--text .comment {
    color: #161616;
    font-family: Didact Gothic;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}

.main .section_five_content .section_five_content--text {
    font-size: 1.2em;
}
.main .section_five_content .section_five_content--text .type {
    color: #919191;
    font-size: 0.9em;
}

/* img {
    width: 100%;
} */

.footer {
    background-color: #161616;
    color: #fff;
    padding: 80px;
}

.footer .main_content {
    margin: auto;
}

.footer .main_content .content_one p {
    color: #fff;
    font-family: Manrope;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: 62px; /* 112.727% */
    text-transform: uppercase;
}
.footer .main_content .content_one {
    padding-bottom: 20px;
}

.flex {
    display: flex;
}

.between {
    justify-content: space-between;
}

.footer .main_content .content_one h1 {
    font-family: "Manrope", sans-serif;
    font-size: 3em;
}

.footer .main_content .content_two p {
    color: #fff;
    text-align: justify;
    font-family: Didact Gothic;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.footer .main_content .content_two {
    margin-bottom: 25px;
}

.footer .main_content .content_three .nav-links {
    list-style: none;
}
.footer .main_content .content_three .nav-links li {
    color: #fff;
    font-family: Didact Gothic;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 105.882% */
    text-transform: uppercase;
    display: inline-block;
    padding: 10px;
}
.section_two_main--body {
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.banner {
    margin: 5%;
}

.img {
    width: 100%;
}

.section_four_content {
    padding: 20px;
}

.buttom-banner {
    position: absolute;
    margin-top: -351px;
    display: flex;
    justify-content: end;
    align-items: center;
    right: 95px;
}

.buttom-banner .text_buttom {
    margin: 5px;
    text-decoration: none;

    color: #161616;
    text-align: right;
    font-family: Manrope;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 108.696% */
    text-transform: uppercase;
}

.buttom-banner .text_buttom a:hover {
    margin: 5px;
    text-decoration: none;

    color: #fff;
    text-align: right;
    font-family: Manrope;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 108.696% */
    text-transform: uppercase;
    background-color: #161616;
}

/* .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008cba;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
}

.section_four_content:hover .overlay {
    bottom: 0;
    height: 100%;
} */

.fade {
    animation-name: fade;
    animation-duration: 1.1s;
}

@keyframes fade {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.header .main_content_header .nav-links a {
    background-image: linear-gradient(
        to right,
        #d3bf90,
        #D3BF90; 50%,
        #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    transition: all 0.3s ease-in-out;
}

.header .main_content_header .nav-links a:before {
    content: "";
    background: #d3bf90;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.header .main_content_header .nav-links a:hover {
    background-position: 0;
}

.header .main_content_header .nav-links a:hover::before {
    width: 100%;
}

.navigation {
    display: none;
}

@media (max-width: 576px) {
    .header {
        display: none;
    }
    .section_two_main--body {
        display: block;
    }
    .main .section_two_main .section_two_main--top {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3%;
        margin-left: 6%;
        margin-right: 6%;
    }
    .main .section_two_main .section_two_text {
        padding: 10% !important;
        margin: 0;
    }
    .section_three_main .flex {
        display: block;
    }
    .section_four_main .flex {
        display: block;
    }
    .section_five_content--buttom {
        display: block;
    }
    .form_main_content {
        display: block !important;
    }
    .footer .main_content .content_one p {
        color: #fff;
        font-family: Manrope;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 112.727% */
        text-transform: uppercase;
    }
    .footer .main_content .content_two {
        margin-bottom: 25px;
        display: block !important;
    }
    .navigation {
        display: block;
    }
    .buttom-banner {
        position: absolute;
        margin-top: -203px;
        display: flex;
        justify-content: end;
        align-items: center;
        right: 95px;
    }
}

@media (max-width: 768px) {
    .header {
        display: none;
    }
    .section_two_main--body {
        display: block;
    }
    .main .section_two_main .section_two_main--top {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3%;
        margin-left: 6%;
        margin-right: 6%;
    }
    .main .section_two_main .section_two_text {
        padding: 10% !important;
        margin: 0;
    }
    .section_three_main .flex {
        display: block;
    }
    .section_four_main .flex {
        display: block;
    }
    .section_five_content--buttom {
        display: block;
    }
    .form_main_content {
        display: block !important;
    }
    .form_main_content {
        display: block !important;
    }
    .footer .main_content .content_one p {
        color: #fff;
        font-family: Manrope;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 112.727% */
        text-transform: uppercase;
    }
    .footer .main_content .content_two {
        margin-bottom: 25px;
        display: block !important;
    }
    .buttom-banner {
        position: absolute;
        margin-top: -203px;
        display: flex;
        justify-content: end;
        align-items: center;
        right: 95px;
    }
    .navigation {
        display: block;
    }
    body {
        margin: 0;
        padding: 0;

        /* make it look decent enough */
        background: #232323;
        color: #cdcdcd;
        font-family: "Avenir Next", "Avenir", sans-serif;
    }

    #menuToggle {
        display: block;
        position: relative;
        top: 50px;
        left: 50px;

        z-index: 1;

        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle a {
        text-decoration: none;
        color: #232323;

        transition: color 0.3s ease;
    }

    #menuToggle a:hover {
        color: tomato;
    }

    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    /*
 * Just a quick hamburger
 */
    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: #cdcdcd;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    /*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    /*
 * But let's hide the middle one.
 */
    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
 * Ohyeah and the last one should go the other direction
 */
    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    /*
 * Make this absolute positioned
 * at the top left of the screen
 */
    #menu {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;

        background: #f2dbcb;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */

        transform-origin: 0% 0%;
        transform: translate(-100%, 0);

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }

    #menu li {
        padding: 10px 0;
        font-size: 22px;
    }

    /*
 * And let's slide it in from the left
 */
    #menuToggle input:checked ~ ul {
        transform: none;
    }
}

@media (max-width: 992px) {
    .header {
        display: none;
    }
    .section_two_main--body {
        display: block;
    }
    .main .section_two_main .section_two_main--top {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3%;
        margin-left: 6%;
        margin-right: 6%;
    }
    .main .section_two_main .section_two_text {
        padding: 10% !important;
        margin: 0;
    }
    .section_three_main .flex {
        display: block;
    }
    .section_four_main .flex {
        display: block;
    }
    .section_five_content--buttom {
        display: block;
    }
    .form_main_content {
        display: block !important;
    }
    .footer .main_content .content_one p {
        color: #fff;
        font-family: Manrope;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 112.727% */
        text-transform: uppercase;
    }
    .footer .main_content .content_two {
        margin-bottom: 25px;
        display: block !important;
    }

    .navigation {
        display: block;
    }

    body {
        margin: 0;
        padding: 0;

        /* make it look decent enough */
        background: #232323;
        color: #cdcdcd;
        font-family: "Avenir Next", "Avenir", sans-serif;
    }

    #menuToggle {
        display: block;
        position: relative;
        top: 50px;
        left: 50px;

        z-index: 1;

        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle a {
        text-decoration: none;
        color: #232323;

        transition: color 0.3s ease;
    }

    #menuToggle a:hover {
        color: tomato;
    }

    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    /*
 * Just a quick hamburger
 */
    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: #f2dbcb;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    /*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    /*
 * But let's hide the middle one.
 */
    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
 * Ohyeah and the last one should go the other direction
 */
    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    /*
 * Make this absolute positioned
 * at the top left of the screen
 */
    #menu {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;

        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */

        transform-origin: 0% 0%;
        transform: translate(-100%, 0);

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }

    #menu li {
        padding: 10px 0;
        font-size: 22px;
    }

    /*
 * And let's slide it in from the left
 */
    #menuToggle input:checked ~ ul {
        transform: none;
    }
    /* responsive nav bar*/
    /*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

    body {
        margin: 0;
        padding: 0;

        /* make it look decent enough */
        background: #232323;
        color: #cdcdcd;
        font-family: "Avenir Next", "Avenir", sans-serif;
    }

    #menuToggle {
        display: block;
        position: relative;
        top: 50px;
        left: 50px;

        z-index: 1;

        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle a {
        text-decoration: none;
        color: #232323;

        transition: color 0.3s ease;
    }

    #menuToggle a:hover {
        color: tomato;
    }

    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    /*
 * Just a quick hamburger
 */
    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: #cdcdcd;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    /*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    /*
 * But let's hide the middle one.
 */
    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
 * Ohyeah and the last one should go the other direction
 */
    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    /*
 * Make this absolute positioned
 * at the top left of the screen
 */
    #menu {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;

        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */

        transform-origin: 0% 0%;
        transform: translate(-100%, 0);

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }

    #menu li {
        padding: 10px 0;
        font-size: 22px;
    }

    /*
 * And let's slide it in from the left
 */
    #menuToggle input:checked ~ ul {
        transform: none;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    ...;
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    ...;
}
